<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='../public/stylesheets/style.css'/>
  </head>
  <body>
    <h1 class="pink">Welcome the the home page</h1>
  <div class="pink">How are you</div>
  </body>
</html>
